<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To-Do-List</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <div class="box" id="heading">
    <h1>It's a <%= theday %></h1>
    </div>

    <div class="box">

      <% for (var i = 0; i < newlistitems.length; i++) { %>
        <div class="item">
          <input type="checkbox">
        <p><%= newlistitems[i] %></p>
        </div>
      <% } %>
      <form class="" action="/" method="post">
        <input type="text" name="newitem" value="" placeholder="New Item" autocomplete="off">
        <button type="submit" name="button">+</button>
      </form>
    </div>

  </body>
  <footer>
    copywrite akshitha-2023
  </footer>
</html>
